/* external css: flickity.css */

.bottom-left {
  position: absolute;
  bottom: 8px;
  left:30%;
}
* { box-sizing: border-box; }

body { font-family: sans-serif; background-color: rgb(81, 80, 80); }
.flickity-button {
  background: #333;
}

.carousel1 {
  background: #EEE;
}

.carousel-cell1 {
  margin-right: 20px;
  overflow: hidden;
  width: 100%;
}

.carousel-cell1 img {
  display: block;
  height: 100%;
  width:100%
}

@media screen and ( min-width: 768px ) {
  .carousel-cell1 img {
    height: 400px;
  }
}

.carousel {
  background: #5e5e5e;
}

.carousel-cell {

  width: 20%;
  height: 200px;
  margin-right: 10px;
  background: rgb(242, 246, 242);
  border-radius: 5%;
  counter-increment: carousel-cell;
}

.carousel-cell.is-selected {
  background-color: blue;
}
.bottom-left{
  color: azure;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  line-height: 200px;
  font-size: 80px;
  color: white;
}

.carousel-cell img {
  display: block;
  width: 100%;
  border-radius: 5%;
}
@media screen and ( min-width: 768px ) {
  .carousel-cell img {
    height: 200px;
  }
}